@import "carbon-components/scss/globals/scss/typography.scss";
@import "~@openmrs/esm-styleguide/src/vars";

:global(.deactivate-tabs-content) {
  display: none;
}

:global(.bx--data-table-container) {
  padding: 1rem;
}

.productiveHeading01 {
  @include carbon--type-style("productive-heading-01");
}

.productiveHeading02 {
  @include carbon--type-style("productive-heading-02");
}

.bodyLong01 {
  @include carbon--type-style("body-long-01");
}

.secondaryText {
  color:#525252;
}

title {
  width: 6.938rem;
  height: 1.75rem;
  margin: 0.438rem 22.875rem 0.813rem 0;
  font-family: IBMPlexSans;
  font-size: 1.25rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

:global(.bx--skeleton):global(.bx--data-table-container) {
  background-color: transparent;
  padding: 0rem;
  margin: 1rem;
  overflow: hidden;

  tr {
    height: 3rem;
  }
}
